name: Testim + Applitools

on:
  workflow_dispatch:
  push:

jobs:
  run-testim:
    runs-on: ubuntu-latest

    env:
      APPLITOOLS_API_KEY: ${{ secrets.APPLITOOLS_API_KEY }}
      APPLITOOLS_MERGE_KEY: ${{ secrets.APPLITOOLS_MERGE_KEY }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Install Testim CLI
        run: npm install -g @testim/testim-cli

      - name: Run Testim tests
        run: |
          testim \
            --token "${{ secrets.TESTIM_TOKEN }}" \
            --project "${{ secrets.TESTIM_PROJECT_ID }}" \
            --grid "Testim-HA-Grid" \
            --mode "selenium" \
            --suite "Test"
