name: CI

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout source
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2. Setup Java 17
      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: maven

      # 3. Start Healenium stack
      - name: Start Healenium (docker-compose)
        run: |
          docker compose -f infra/docker-compose-web.yaml up -d
          docker ps

      # 4. Start Selenium Standalone Chrome (port 4444)
      - name: Start Selenium Standalone Chrome
        run: |
          docker pull selenium/standalone-chrome
          docker run -d \
            -p 4444:4444 \
            --shm-size="2g" \
            selenium/standalone-chrome

      # 5. Wait for services ready
      - name: Wait for services
        run: sleep 20

      # 6. Run aLL tests
      - name: Run TestNG testcases
        run: mvn test -Dtest=org.example.testcases.*

      # 7. Stop all containers (always)
      - name: Stop containers
        if: always()
        run: |
          docker ps
          docker compose -f infra/docker-compose-web.yaml down
          docker stop $(docker ps -q) || true
